* {
  font-family: 'Inter', sans-serif;
}

.gallery-image {
    transition: flex 0.3s ease;
  }
  
  .selected {
    flex: 1 1 80%;
    cursor: pointer;
  }
  
  .image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .expanded-image {
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .expanded-image {
    transition: width 0.2s ease;
  }
  