.welcome-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3.13rem;
  padding-left: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 4rem;
  color: #1f6feb;
  margin-bottom: 1rem;
}

.welcome-title {
  line-height: 3.16rem;
  display: flex;
  align-items: center;
  color: #3732d9;
}

.welcome-text {
  font-size: 1rem;
  line-height: 1.88rem;
  font-weight: lighter;
  color: #363d4d;
}

@keyframes slow-motion {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.movie {
  justify-content: center;
  display: flex;
  animation-name: slow-motion;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@media (max-width: 768px) {
  /* Estilos específicos para dispositivos móveis com largura máxima de 768px */
  .welcome-container {
    font-size: 2rem;
  }

  .welcome-title {
    line-height: 2.5rem;
  }

  .welcome-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 480px) {
  /* Estilos específicos para dispositivos móveis com largura máxima de 480px */
  .welcome-container {
    font-size: 1.5rem;
  }

  .welcome-title {
    line-height: 2rem;
  }

  .welcome-text {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .movie video {
    max-width: 80%;
    height: auto;
  }
}
